/* Estilize o contêiner principal */
#container {
    text-align: center;
    padding: 20px;
}

/* Estilize o título */
h1 {
    color: white;
    font-size: 36px;
}

/* Estilize o canvas */
#snake {
    border: 2px solid white;
}

/* Estilize os botões de controle */
#controls {
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos padrão */
/* ... (seus estilos existentes) ... */

/* Estilos para telas menores, como smartphones */
@media (max-width: 767px) {
    #container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    #snake {
        border: 1px solid white;
    }

    button {
        font-size: 18px;
        width: 30px;
        height: 30px;
        margin: 3px;
    }
}
